/* mp-1/src/styles/resume_styles.css */
/* Last Updated by Zhixin Li(lzhx@bu.edu) */
/* Stylesheet for Online Resume mp-1. */

* {
    background-color: #f3f3f3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page_wrapper{
    max-width: 75%;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
    /*font-family: 'Roboto', sans-serif;*/
}

.container {
    display: flex;
}

nav{
    display: block;
    margin: 30px;
    max-width: 30%;
}

nav a{
    text-decoration: none;
    background-color: transparent;
}

nav li{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #07e191;

}

nav li:hover{
    background-color: white;
}

header{
    display: block;
    margin: 30px;
    text-align: left;
    border-bottom: 2px solid lightgray;
}

main{
    display: block;
    margin: 10px 30px;
    max-width: 70%;
    min-height: 60vh;
}

footer{
    display: block;
    margin: 30px;
    text-align: left;
    border-top: 2px solid lightgray;
}

h1, h2, h3, h4, h5, p{
    margin: 10px;
}

img{
    width: calc(560px + 4*5.6vw);
}

iframe{
    width: calc(560px + 4*5.6vw);
    height: calc(315px + 4*3.15vw);
}

.portfolio{
    display: block;
}

.calc_buttons li{
    display: inline;
    padding: 5px;
}

.nagative_number {
    color: red;
}

button {
    background-color: #07e191; /* Green */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

sup {
    background-color: transparent;
}

strong {
    color: #00c880;
}

@media screen and (max-width: 1000px){
    .page_wrapper{
        font-size: calc(8px + 1vw);
    }
}

@media screen and (max-width: 750px){
    .page_wrapper{
        max-width: 90%;
        margin: 0 auto;
    }

    .container{
        display: block;
    }

    nav{
        text-align: center;
        max-width: 100%;
        padding: 15px 0;
        border-bottom: 2px solid lightgray;
    }

    nav li{
        display: inline;
    }

    main{
        max-width: 90%;
        margin: 10px auto;
    }

    header{
        text-align: center;
        margin: 10px auto;
        border: 1px solid #07e191;
    }

    img{
         width: calc(1.5*56vw);
    }

    iframe{
        width: calc(1.5*56vw);
        height: calc(1.5*31.5vw);
    }

}